body {
    	font-family: 'Arial';
    	background-color: #000000;
	color: #ffffff;
}

img {
	width: 320px;
	border: 10px solid #777777;
}

p {
	width: 340px;
	background-color: #777777;
}

h1 {
	color: #ffffff;
	width: 340px;
	background-color: #777777;
}